body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 2px solid #000;
    margin-bottom: 5px;
}

.snake, .food {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 2px solid black;
}

.snake {
    background-color: #00aaff;
}

.segment {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #00aaff;
    border: 2px solid black;
}

.food {
    background-color: #ff5500;
}



/* Estilos da exibição de pontuação */

.score {
    font-family: monospace;
    font-size: 24px;
    position: absolute;
    top: 30px; /* Distância do topo */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Centraliza exatamente */
}


/*mobile version*/
/* Posicione os botões fora da tela */
.controls-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);    
}

/* Estilos dos botões */
.controls-container  button {
    font-size: 20px;
    padding: 27px 27px;
    margin: 0 20px;
    border: none;
    border-radius: 15px;
    background-color: #ccc;
}

